<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHRI</title>

    <link rel="stylesheet" href="stories.css">
</head>
<body class="theme_<%= theme %>">
    <script type="text/javascript" src="stories.js"></script>
    <script>
        const body = document.querySelector('body');
        body.innerHTML = window.renderTemplate('<%= alias %>', '<%= data %>');
    </script>
</body>
</html>