
// Roboto Regular

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("./assets/fonts/Roboto-Regular.woff") format("woff"), url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}


// Roboto Medium

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("./assets/fonts/Roboto-Medium.woff") format("woff"), url("./assets/fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}


// Roboto Bold

@font-face {
    font-family: "Roboto";
    font-display: swap;
    src: url("./assets/fonts/Roboto-Bold.woff") format("woff"), url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}


// null standart browser style

@import 'null';


// Border-Box for all elements and their pseudoelements

*, *::before, *::after {
    box-sizing: border-box;
}


// Links inherit style

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}


// CSS custom properties

:root {
    --white: #FCFBF7;
    --grey-light: #BFBFBF;
    --grey: #918F8A;
    --yellow: #F4B000;
    --black: #261C00;

    --slide-background: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(19, 14, 0, 0.9) 0%, #000000 100%);

    --title-color: var(--white);
    --subtitle-color: var(--grey-light);

    --bar-accent-background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
    --bar-accent-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
    --bar-background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 93.3% at 38.75% 72.1%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
    --bar-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);

    --photo-filter: grayscale(100%);

    --user-vs-place-sep-color: var(--grey);
    --user-hover-background: radial-gradient(85.62% 148.33% at 49.85% 100%, rgba(68, 58, 42, 0.7864) 0%, rgba(0, 0, 0, 0.8) 100%);
    --user-hover-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(255, 255, 255, 0.1);
    --user-active-background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
    --user-active-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);

    --button-fill: var(--white);
    --button-fill-active: var(--grey);

    --diagram-item-l1-fill: url(#grad-l1-dark);
    --diagram-item-l2-fill: url(#grad-l2-dark);
    --diagram-item-l3-fill: url(#grad-l3-dark);
    --diagram-item-l4-fill: url(#grad-l4-dark);

    // --diagram-item-l1-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%);
    // --diagram-item-l2-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);;
    // --diagram-item-l3-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(155, 155, 155, 0.5) 71.88%, rgba(56, 41, 0, 0.5) 100%);
    // --diagram-item-l4-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(77, 77, 77, 0.5) 71.88%, rgba(56, 41, 0, 0.5) 100%);

    // --diagram-item-l1-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
    // --diagram-item-l2-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
    // --diagram-item-l3-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(139, 139, 139, 0.9);
    // --diagram-item-l4-shadow: 0px 0px 20px -8px rgba(96, 96, 96, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(38, 38, 38, 0.9);

    // --diagram-dot-l1-background: radial-gradient(100% 100% at 50% 0%, rgba(255, 184, 0, 0.8) 0%, rgba(91, 66, 0, 0.8) 100%);
    // --diagram-dot-l2-background: radial-gradient(100% 100% at 50% 0%, rgba(165, 119, 0, 0.8) 0%, rgba(91, 66, 0, 0.8) 100%);
    // --diagram-dot-l3-background: radial-gradient(100% 100% at 50% 0%, rgba(151, 151, 151, 0.5) 0%, rgba(41, 41, 41, 0.5) 100%);
    // --diagram-dot-l4-background: radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%);

    // --diagram-dot-l1-shadow: 0px 0px 20px -8px rgba(247, 178, 1, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 12px rgba(255, 184, 0, 0.9);
    // --diagram-dot-l2-shadow: 0px 0px 20px -8px rgba(247, 178, 1, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    // --diagram-dot-l3-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    // --diagram-dot-l4-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);

    --map-legend-seg-background: radial-gradient(51.52% 129.57% at 48.48% 50%, rgba(64, 59, 54, 0) 0%, rgba(19, 18, 17, 0.5) 100%);
    --map-legend-seg-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25), inset 3px 1px 16px rgba(112, 102, 94, 0.3);

    --map-legend-side-background: radial-gradient(150% 252.96% at 150% 50%, rgba(64, 59, 54, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    --map-legend-side-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25), inset 3px 1px 16px rgba(112, 102, 94, 0.3);

    --map-legend-min-background: radial-gradient(3906.1% 3815.36% at 89.06% 78.28%, rgba(19, 17, 16, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    --map-legend-mid-background: radial-gradient(5752.25% 5190.32% at 74.43% 60.32%, rgba(0, 0, 0, 0.9) 0%, rgba(35, 22, 0, 0.9) 0.01%, rgba(112, 92, 94, 0.9) 100%);
    --map-legend-max-background: radial-gradient(5528.36% 3005.63% at 74.43% 75.84%, rgba(0, 0, 0, 0.9) 0%, rgba(33, 22, 2, 0.9) 0.01%, rgba(172, 113, 9, 0.9) 100%);
    --map-legend-extra-background: radial-gradient(2258.03% 620.37% at 83.33% 88.95%, #201502 0%, #C7830A 100%);

    --map-legend-min-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(112, 102, 94, 0.2);
    --map-legend-mid-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(93, 116, 141, 0.6);
    --map-legend-max-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.2);
    --map-legend-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.9);

}


// Light Theme

.theme_light {
    --slide-background: #fff;

    --title-color: var(--black);
    --subtitle-color: var(--grey);

    --bar-accent-background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
    --bar-accent-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
    --bar-background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    --bar-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);

    --photo-filter: none;

    --user-vs-place-sep-color: var(--black);
    --user-hover-background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
    --user-hover-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
    --user-active-background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
    --user-active-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);

    --button-fill: var(--yellow);
    --button-fill-active: var(--grey-light);

    --diagram-item-l1-fill: url(#grad-l1-light);
    --diagram-item-l2-fill: url(#grad-l2-light);
    --diagram-item-l3-fill: url(#grad-l3-light);
    --diagram-item-l4-fill: url(#grad-l4-light);

    // --diagram-item-l1-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%);
    // --diagram-item-l2-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%);
    // --diagram-item-l3-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%);
    // --diagram-item-l4-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%);

    // --diagram-item-l1-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
    // --diagram-item-l2-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    // --diagram-item-l3-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
    // --diagram-item-l4-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);

    // --diagram-dot-l1-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%);
    // --diagram-dot-l2-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%);
    // --diagram-dot-l3-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%);
    // --diagram-dot-l4-background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%);

    // --diagram-dot-l1-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
    // --diagram-dot-l2-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    // --diagram-dot-l3-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
    // --diagram-dot-l4-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);

    --map-legend-seg-background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    --map-legend-seg-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);

    --map-legend-side-background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    --map-legend-side-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);

    --map-legend-min-background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.6) 0%, rgba(250, 250, 250, 0.6) 100%);
    --map-legend-mid-background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.8) 0%, rgba(250, 250, 250, 0.8) 100%);
    --map-legend-max-background: radial-gradient(68.1% 68.1% at 4.41% 31.9%, #FFF6DD 8.72%, #FFFEFA 100%);
    --map-legend-extra-background: radial-gradient(66.02% 86.49% at -16.18% 13.51%, rgba(255, 186, 6, 0.85) 0%, #FFF2AD 100%);

    --map-legend-min-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.2);
    --map-legend-mid-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.3);
    --map-legend-max-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    --map-legend-extra-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
}


// Default font

body {
    font-family: 'Roboto', serif;
    color: #000;
}


// Slide block

.slide {
    height: 100vh;
    padding: 20px 24px 0 24px;
    background: var(--slide-background);
    position: relative;
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 32px;
        color: var(--title-color);

        @media screen and (orientation: landscape) {
            text-align: center;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--subtitle-color);

        margin-top: 8px;

        @media screen and (orientation: landscape) {
            text-align: center;
        }
    }
}


// Leaders block

.leaders {

    &__content {
        flex: 1;
        display: flex;
        @media screen and (orientation: landscape) {
            padding: 0 42px;
        }
    }

    &__column {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        flex: 1 0 calc((100% + 2 * 16px) / 3 - 16px);
        @media screen and (orientation: landscape) {
            flex: 1 0 calc((100% + 4 * 16px) / 5 - 16px);
        }

        &:nth-child(3) {
            flex: 1 0 calc((100% + 2 * 16px) / 3);
            @media screen and (orientation: landscape) {
                flex: 1 0 calc((100% + 4 * 16px) / 5);
            }
        }

        &:nth-child(4n + 1) {
            @media screen and (orientation: portrait) {
                display: none;
            }
        }
    }

    &__stand {
        width: auto;
        height: 100%;
        max-height: 10%;
        padding-top: 18px;
        padding-bottom: 16px;

        display: flex;
        flex-direction: column;

        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        background: var(--bar-background);
        box-shadow: var(--bar-shadow);
    }

    &__column:nth-child(1) &__stand {
        @media screen and (orientation: landscape) {
            max-height: 22.82%;
        }
        margin-right: -16px;
        padding-right: 16px;
    }
    &__column:nth-child(2) &__stand {
        max-height: 40.33%;
        @media screen and (orientation: landscape) {
            max-height: 29.54%;
        }
        margin-right: -16px;
        padding-right: 16px;
        z-index: 1;
    }
    &__column:nth-child(3) &__stand {
        background: var(--bar-accent-background);
        box-shadow: var(--bar-accent-shadow);

        max-height: 58.25%;
        @media screen and (orientation: landscape) {
            max-height: 36.25%;
        }
        z-index: 2;
    }
    &__column:nth-child(4) &__stand {
        max-height: 49.29%;
        @media screen and (orientation: landscape) {
            max-height: 29.54%;
        }
        margin-left: -16px;
        padding-left: 16px;
        z-index: 1;
    }
    &__column:nth-child(5) &__stand {
        @media screen and (orientation: landscape) {
            max-height: 22.82%;
        }
        margin-left: -16px;
        padding-left: 16px;
    }

    &__place-number {
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;

        color: var(--title-color);

        text-align: center;

        &_bottom {
            @media screen and (orientation: landscape) {
                display: none;
            }
        }
    }

    &__user {
        margin: 0 auto;

        &_bottom {
            margin-top: auto;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 100%;
                max-width: 60px;
                height: 1px;
                background: var(--user-vs-place-sep-color);
                position: absolute;
                bottom: 6px;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }

            @media screen and (orientation: landscape) {
                display: none;
            }
        }
    }
}


// User block

.user {
    border-radius: 6px;
    max-width: 104px;
    text-align: center;
    padding: 20px 4px 16px 4px;

    &__avatar {
        position: relative;
        width: 64px;
        height: 64px;
        margin: 0 auto;

        img {
            max-width: 100%;
        }
    }

    &__photo {
        border-radius: 50%;
        filter: var(--photo-filter);
    }

    &__emoji {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% + 10px));

        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;

        color: var(--title-color);

        margin-top: 6px;
    }

    &__value-text {
        font-size: 14px;
        line-height: 16px;

        color: var(--subtitle-color);

        margin-top: 4px;
    }

    &_view {
        &_inline {
            max-width: 100%;
            padding: 0;

            display: flex;
            align-items: center;
        }
    }

    &_view_inline &__avatar {
        width: 40px;
        height: 40px;
    }

    &_view_inline &__name {
        margin-top: 0;
    }

    &__info {
        margin-left: 14px;
        text-align: left;
        flex: 1;
    }
}

.theme_light .leaders__user_bottom .user__value-text {
    color: var(--black);
}


// Vote block

.vote {

    &__content {
        height: 100%;
        display: flex;

        &_orientation {
            &_portrait {
                @media screen and (orientation: landscape) {
                    display: none;
                }
                justify-content: space-between;
            }
            &_landscape {
                @media screen and (orientation: portrait) {
                    display: none;
                }
                justify-content: space-evenly;
                margin: 0 -24px;
            }
        }

    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    &__arrow {
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        svg path {
            fill: var(--button-fill);
        }
        &:disabled, &:hover, &:focus, &:active {
            svg path {
                fill: var(--button-fill-active);
            }
        }
    }

    &__user {
        background: none;
        border: none;

        &:hover:enabled:not(.vote__user_active), &:focus:enabled:not(.vote__user_active) {
            background: var(--user-hover-background);
            box-shadow: var(--user-hover-shadow);
        }

        &:active, &_active {
            background: var(--user-active-background);
            box-shadow: var(--user-active-shadow);
        }

        &_hidden {
            position: relative;
            visibility: hidden;
        }
    }
}

// Chart block

.chart {

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;

        padding-top: 12px;
        @media screen and (orientation: landscape) {
            padding-top: 13px;
        }
    }

    &__graph {
        flex: 1;

        @media screen and (orientation: portrait) {
            margin-left: -24px;
            margin-right: -12px;
            overflow: hidden;
            position: relative;
        }
    }

    &__users {
        display: flex;
        flex-direction: column;
        padding: 24px 0;

        @media screen and (orientation: landscape) {
            flex-direction: row;
            justify-content: center;
        }
    }

    &__user {
        @media screen and (orientation: landscape) {
            flex: 0 1 220px;
        }
    }

    &__users-sep {
        height: 2px;
        background: var(--grey-light);
        opacity: 0.3;
        margin: 16px 0;
        @media screen and (orientation: landscape) {
            height: 100%;
            width: 2px;
            margin: 0 16px;
        }
    }
}

// Graph block

.graph {

    &__track {
        height: 100%;

        @media screen and (orientation: portrait) {
            
            position: absolute;
            right: 0;
            top: 0;
        }

        display: flex;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 64px;
    }

    &__value {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: var(--subtitle-color);
        margin-bottom: 8px;
    }
    &__item_active &__value {
        color: var(--title-color);
    }
    
    &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    &__bar {
        min-height: 8px;
        width: 100%;
        max-width: 40px;
        border-radius: 6px;
        background: var(--bar-background);
        box-shadow: var(--bar-shadow);
    }
    &__item_active &__bar {
        background: var(--bar-accent-background);
        box-shadow: var(--bar-accent-shadow);
    }

    &__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--subtitle-color);
        margin-top: 12px;
    }
}

// Diagram block

.diagram {

    &__content {
        height: 100%;
        display: flex;
        
        @media screen and (orientation: portrait) {
            flex-direction: column;
            padding-bottom: 8px;
            padding-top: 14px;
        }

        @media screen and (orientation: landscape) {
            align-items: center;
            justify-content: center;
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    &__figure {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        @media screen and (orientation: portrait) {
            flex: 1;
        }
        @media screen and (orientation: landscape) {
            flex: 0 1 240px;
        }
    }

    &__legend {
        @media screen and (orientation: landscape) {
            flex: 1;
            margin-left: 40px;
        }
    }

    &__legend-line {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 16px 0;

        position: relative;

        &:not(:last-child) {
            margin-bottom: 2px;
            &::after {
                content: '';
                display: block;
                height: 2px;
                background: var(--grey);
                opacity: 0.3;

                position: absolute;
                left: 0;
                right: 0;
                bottom: -2px;
            }
        }
    }

    &__legend-dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;

        &_l1 {
            background: var(--diagram-dot-l1-background);
            box-shadow: var(--diagram-dot-l1-shadow);
        }

        &_l2 {
            background: var(--diagram-dot-l2-background);
            box-shadow: var(--diagram-dot-l2-shadow);
        }

        &_l3 {
            background: var(--diagram-dot-l3-background);
            box-shadow: var(--diagram-dot-l3-shadow);
        }

        &_l4 {
            background: var(--diagram-dot-l4-background);
            box-shadow: var(--diagram-dot-l4-shadow);
        }
    }

    &__legend-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--title-color);
        margin-left: 10px;
        margin-right: auto;
    }

    &__legend-diff {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--subtitle-color);
        margin-right: 16px;
    }

    &__legend-value {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--subtitle-color);
    }

    &__center-block {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text-total {
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        color: var(--title-color);

        @media screen and (orientation: landscape) {
            font-size: 20px;
            line-height: 22px;
        }
    }

    &__text-diff {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: var(--subtitle-color);
        margin-top: 8px;

        @media screen and (orientation: landscape) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.pie-chart {

    &__segment {

        &_l1 {
            stroke: var(--diagram-item-l1-fill);
        }

        &_l2 {
            stroke: var(--diagram-item-l2-fill);
        }

        &_l3 {
            stroke: var(--diagram-item-l3-fill);
        }

        &_l4 {
            stroke: var(--diagram-item-l4-fill);
        }
    }
}

// Activity block

.activity {

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (orientation: portrait) {
            padding-bottom: 24px;
        }
        @media screen and (orientation: landscape) {
            justify-content: center;
        }
    }

    &__figure {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (orientation: portrait) {
            flex: 1;
        }
    }

    &__legend {
        display: flex;
        justify-content: center;
    }

    &__legend-item {
        width: 60px;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__legend-segment {
        width: 52px;
        height: 4px;
        background: var(--map-legend-seg-background);
        box-shadow: var(--map-legend-seg-shadow);

        position: absolute;
        top: 4px;
        left: 4px;
    }

    &__legend-tile {
        height: 12px;
    }

    &__legend-item:nth-child(1) &__legend-tile {
        position: relative;

        &::before, &::after {
            content: '';
            display: block;
            height: 12px;
            width: 4px;
            border-radius: 2px;
            background: var(--map-legend-side-background);
            box-shadow: var(--map-legend-side-shadow);

            position: absolute;
            top: 0;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    &__legend-item:nth-child(2) &__legend-tile {
        border-radius: 2px;
        background: var(--map-legend-min-background);
        box-shadow: var(--map-legend-min-shadow);
    }
    &__legend-item:nth-child(3) &__legend-tile {
        border-radius: 2px;
        background: var(--map-legend-mid-background);
        box-shadow: var(--map-legend-mid-shadow);
    }
    &__legend-item:nth-child(4) &__legend-tile {
        border-radius: 2px;
        background: var(--map-legend-max-background);
        box-shadow: var(--map-legend-max-shadow);
    }
    &__legend-item:nth-child(5) &__legend-tile {
        border-radius: 2px;
        background: var(--map-legend-extra-background);
        box-shadow: var(--map-legend-extra-shadow);
    }

    &__legend-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: var(--subtitle-color);
        margin-top: 8px;

        @media screen and (orientation: landscape) {
            text-align: center;
        }

        &_portrait {
            @media screen and (orientation: landscape) {
                display: none;
            }
        }

        &_landscape {
            @media screen and (orientation: portrait) {
                display: none;
            }
        }
    }
}

// Map block

.map {

    &__orientation {

        &_portrait {
            @media screen and (orientation: landscape) {
                display: none;
            }
        }

        &_landscape {
            @media screen and (orientation: portrait) {
                display: none;
            }
        }
    }
    &__row {
        display: flex;
        margin-top: -21px;

        &:nth-child(2n + 1) {
            margin-right: 17px;
        }
        &:nth-child(2n + 2) {
            margin-left: 17px;
        }
    }

    &__col {
        width: 34px;
        height: 34px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &_min {

        }

        &_mid {
        }

        &_max {
        }

        &_extra {
        }
    }
}
